<h1>contact us</h1>

<h2>Who do you want to contact?</h2>

<form action="/contact" method="get">
  <label for="memver">Please type a name</label>
  <input id="member" name="member" type="text" placeholder="Charlie" value="<%= params[:member] %>">
  <input type="submit">
</form>

<ol>
  <% @members.each do |member| %> 
    <li><%= member.capitalize %></li> 
  <% end %> 
</ol>

